[submodule ".registry"]
	path = .registry
	url = https://github.com/molevolepid/molevolepid.r-universe.dev
	branch = HEAD
[submodule "SEEPS"]
	path = SEEPS
	url = https://github.com/MolEvolEpid/SEEPS
